{{> nav/nav}} {{> sidebars/sidebar}}

<div class="container-fluid container-cards-pf container-pf-nav-pf-vertical nav-pf-persistent-secondary hidden-icons-pf">
	<div class="row row-contact-search">
		<div class="col-xs-12">
			<form class="form-inline" id="searchform">
				<div class="form-group">
					<div class="input-group">
						<input type="email" class="form-control" name="emailSearch" id="emailSearch" placeholder="Search">
						<div class="input-group-addon">
							<button type="submit">
								<i class="fa fa-search" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="row row-cards-pf" id="contact-area">
	</div>
</div>
</div>