<div>
	<img id="logo" src="img/logo.svg" alt="leagGenerator logo">
</div>
<section class="user">

	<div class="user_options-container">
		<div class="user_options-text">
			<div class="user_options-unregistered">
				<h2 class="user_unregistered-title">Don't have an account?</h2>
				<p class="user_unregistered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
				<button class="user_unregistered-signup" id="signup-button">Sign up</button>
			</div>

			<div class="user_options-registered">
				<h2 class="user_registered-title">Have an account?</h2>
				<p class="user_registered-text">Banjo tote bag bicycle rights, High Life sartorial cray craft beer whatever street art fap.</p>
				<button class="user_registered-login" id="login-button">Login</button>
			</div>
		</div>

		<div class="user_options-forms" id="user_options-forms">
			<div class="user_forms-login">
				<h2 class="forms_title">Login</h2>
				<form class="forms_form" id="signin" name="signin" method="post" action="signin">
					<fieldset class="forms_fieldset">
						<div class="forms_field">
							<input type="text" name="email" placeholder="Email" class="forms_field-input" required autofocus />
						</div>
						<div class="forms_field">
							<input name="password" type="password" placeholder="Password" class="forms_field-input" required />
						</div>
					</fieldset>
					<div class="forms_buttons">
						<input type="submit" value="Log In" class="forms_buttons-action">
					</div>
				</form>

			</div>
			<div class="user_forms-signup">
				<h2 class="forms_title">Sign Up</h2>
				<form class="forms_form" id="signup" name="signup" method="post" action="/signup">
					<fieldset class="forms_fieldset">
						<div class="forms_field">
							<input type="text" name="firstname" placeholder="First Name" class="forms_field-input" required />
						</div>
						<div class="forms_field">
							<input type="text" name="lastname" placeholder="Last Name" class="forms_field-input" required />
						</div>
						<div class="forms_field">
							<input type="email"name="email" placeholder="Email" class="forms_field-input" required />
						</div>
						<div class="forms_field">
							<input type="password" name="password" placeholder="Password" class="forms_field-input" required />
						</div>
					</fieldset>
					<div class="forms_buttons">
						<input type="submit" value="Sign up" class="forms_buttons-action">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<script src="js/login.js"></script>