body {
  background-color: #DCE0E2 !important;
}
.three {
  background-color: red;
  height: 100%;
  width: 100%;
}
.one {
  z-index: 100 !important;
  background-color: #DCE0E2 !important;
  border: 10px black !important;
  overflow: scroll;
  /*flex: 1 0 98% !important;
  max-width: 98% !important;*/
}
.two {
  background-color: #ebedf2 !important;
  height: 20%;
  display:
}
.box {

}
.four {
  background-color: lightgrey;
  height: 72vh !important;
  background-color: #ebedf2;
  border-top: 2px solid #143665;
  overflow: scroll;
}
.navbar {
  margin-bottom: 0px !important;
  height: 8vh !important;
  background-color: #143665 !important;
  color: #ebedf2 !important;
}
.hide {
  /*display: none !important;*/
  transition: all .8s ease !important;
  max-width: 0px !important;
  flex: 0 0 0% !important;
  width: 0% !important;
  min-height: 0px !important;
  padding-right: 0px !important;
}
.remove {
  display: none;
}
img {
  color: white;
  /*color: #FFDFC1;*/
}
button {
  background-color: #143665 !important;
  /*color: #FFDFC1;*/
  color: white !important;
  border-radius: 5px !important;
}
.searchbar {
  margin-top: 5.5%;
  margin-bottom: 5.5%;
}
/*.toggle {
  margin-left: 12px;
  border-radius: 5px !important;
  box-shadow: 1px 1px 1px black !important;
  right: -350px;
  top: 15px !important;
  padding:  13px !important;
  line-height: 3px !important;
  height: 27px !important;
  display: none;
}*/
/*footer {
  height: 5vh;
  background-color: #143665;
  color: white;
  text-align: center;
  padding-top: 5px;
}*/
/*@media screen and (max-width: 768px) {
}*/
