
<li class="list-group-item">
  <a>
    <span class="fa fa-dashboard" data-toggle="tooltip" title="Dashboard"></span>
    <span  class="saved_target" data-target="{{this.name}}">{{this.name}}</span>
  </a>
</li>
