<div class="nav-pf-vertical nav-pf-vertical-with-sub-menus
     nav-pf-persistent-secondary hidden-icons-pf">
	<ul id="searched-names" class="list-group">
		{{#each targets}} {{showSnippet 'sidebar-element' this}} {{/each}}
	</ul>

</div>